mixin copyright(className)
  div(class=`${className} copyright`)
    .container.copyright__wrapper
      span.copyright__item.copyright__item--name ©  Андрей Иванов
      span.copyright__item.copyright__item--description создано с любовью в LoftSchool
      span.copyright__item.copyright__item--year 2017