.preloader.preloader--nojs
    .preloader__animation
      svg.preloader__icon(width="52.586", height="63.73", viewBox="0 0 52.586 63.73")
        circle.preloader__circle(stroke="#ffffff", stroke-width="2.5864", stroke-miterlimit="10", cx="26.293", cy="37.438", r="25", fill="none")
      .preloader__percents 100%