-
  var skillAreas = [
    {
      title: "Frontend", 
      skills: [
        {
          name: "HTML5", 
          perc: "90"
        }, {
          name: "CSS3", 
          perc: "90"
        }, {
          name: "Javascript & jQuery", 
          perc: "70"
        }
      ]
    }, {
      title: "Backend", 
      skills: [
        {
          name: "PHP", 
          perc: "20"
        }, {
          name: "mySQL", 
          perc: "25"
        }, {
          name: "Node.js & npm", 
          perc: "5"
        }, {
          name: "Mongo.db", 
          perc: "0"
        }
      ]
    },  {
      title: "Workflow", 
      skills: [
        {
          name: "Git", 
          perc: "50"
        }, {
          name: "Gulp",
            perc: "50"
        }, {
          name: "Bower", 
          perc: "0"
        }
      ]
    }
  ];
